.pagination {
            width:100%;
            heigth:70px;
            float:left;
            margin-top:2px;
            margin-left:2px;
            
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 10px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
	width:20px;
	height:20px;
}

.pagination .current {
    background: #26B;
    color: orange;
	border: solid 1px skyblue;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	
	background:orange;
}
