html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

body {
	font-family:TerminalDosisLight;
	background-image:url(resources/123.jpg);
}

#header {
	width:100%;
	height:130px;
	background-image:url(resources/bodybg.gif);
	border-bottom:1px solid yellow;
}

#logo {
	float:left;
	margin-top:5px;
	margin-left:100px;
	width:300px;
	height:85%;
	background-image:url(resources/bg47.png);
	border-radius:10px;
	box-shadow: 10px 10px 5px #888888;
}

#dosis {
	font-family:TerminalDosisLight;
	float:right;
	margin-right:250px;
	margin-top:20px;
	font-size:60px;
}

#dosis2 {
	font-family:TerminalDosisLight;
	float:left;
	margin-left:120px;
	font-size:30px;
	
}

#dosis3 {
	font-family:TerminalDosisLight;
	float:left;
	margin-left:10px;
	margin-top:10px;
	font-size:20px;
}

.clr {
	clear:both;
}

#content {
	position:relative;
	width:100%;
	height:73%;
}

#leftpic {
	position:absolute;
	float:left;
	margin-top:50px;
	margin-left:100px;
	width:650px;
	height:300px;
	background-image:url(resources/icon.png);
	border-radius:10px;
	border:2px solid yellow;
	box-shadow: 10px 10px 5px #888888;
}

#submitarea {
	float:left;
	margin-left:10px;
	margin-top:20px;
	padding:0px;
	border:1px solid skyblue;
	background:#63B8FF;
	width:90px;
	height:40px;
	font-family:TerminalDosisLight;
	font-size:20px;
	font-weight:bold;
}

#searchbutton {
	font-family:TerminalDosisLight;
	font-size:20px;
	height:100%;
	width:100%;
	color:black;
	font-weight:bold;
	border:1px solid skyblue;
	background:#63B8FF;
}

#loginarea {
	font-family:TerminalDosisLight;
	position:absolute;
	float:right;
	right:170px;
	top:50px;
	width:330px;
	height:300px;
	border-radius:10px;
	border:2px solid yellow;
	background-image:url(resources/bodybg.gif);
}

#textarea {
	float:left;
	font-size:25px;
	margin-left:10px;
	padding:0px;
	border:2px solid skyblue;
	border-radius:5px;
	width:290px;
	height:40px;
}

#footer {
	position:absolute;
	width:100%;
	height:50px;
	bottom:0px;
	border:1px solid yellow;
	background-image:url(resources/opacityblack.png);
}