html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

html,body {
    height:100%;
    width:100%;
    /* min-height:635; */
   	min-width:800;
   	overflow-x:auto;
	overflow-y:auto;
}

#welcome {
	padding-top:250px;
	padding-left:500px;
	position:absolute;
	height:100%;
	width:100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#f47a20', StartColorStr='#faa51a');
	z-index:500;
}

#welcomeword {
	font-family:TerminalDosisLight;
	font-size:100px;
	position:absolute;
}

#dosis {
    font-family:TerminalDosisLight,"ËÎÌå","ºÚÌå","Î¢ÈíÑÅºÚ";
    font-size:25px;
}



#dosis2 {
    float:left;
    font-family:"ºÚÌå","ºÚÌå","Î¢ÈíÑÅºÚ";
    text-shadow:1px 1px 1px white, -1px -1px 1px skyblue;
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='skyblue');
    filter:DropShadow(Color=#ffffe1, OffX=1, OffY=1, Positive=2);*/
    font-size:35px;
    /*margin-top:20px;*/
    margin-top:0px;
    margin-left:0px;
}

#header {
    position:relative;
    /*margin-top:10px;*/
    width:100%;
    height:80px;
    min-width: 1000px;  
    background:url(resources/header-bg.png);
}

#middle {
    clear:both;
    position:relative;
    margin:0px;
    width:100%;
    height:32px;
    min-width: 1000px;
    background:url(resources/newmiddle.png);
   /* background-image:url(resources/middle.gif);
   	border-bottom:1px solid orange;*/
   	z-index:100;
}

#main {
    position:relative;
    width:100%;
    height:500px;
    margin:0px;
    padding:0px;
 /*    scroll:auto; */
    min-width: 1000px;
}

#leftClass {
	/* float:left;
	position:relative; */
	position:absolute;
	margin:0px;
	padding:0px;
	width:28px;
	height:100%;
	z-index:1000;
	background:url(resources/whitey.png);
}

#left {
   /*  float:left;
    position:relative; */
    position:absolute;
    margin-top:0px;
    padding-top:0px;
    padding-left:28px;
    padding-right:0px;
    height:100%;
    width:245px;
    min-width: 200px;
    border-right:1px solid orange;
    background:url(resources/left.png);
    
}

#right {
    /* float:left;
    position:relative; */
    position:absolute;
    margin:0px;
    margin-left:273px;
    padding:0px;
    height:100%;
   /* background-image:url(resources/bodybg.gif);*/
    min-width: 400px;
    background:url("resources/left.png");
}

#rightImport {
	/* float:left;
	position:relative; */
	position:absolute;
	margin:0px;
	right:0px;
	padding:0px;
	height:100%;
	background:url(resources/newRightImport.png) no-repeat;
	font-family:'Î¢ÈíÑÅºÚ','ËÎÌå';
	width:0px;
	border-left:1px solid orange;
}

#footer {
    position:relative;
    min-width: 1000px;
    top:0px;
    margin:0px;
    width:100%;
    height:20px;
    padding:0px;
    background:url(resources/footer.png);
}

.mainDisplayClass {
	display:block;
	float:left;
	width:27px;	
	height:130px;
	margin:0px;
	padding:0px;
}

#mainDisplayClass1 {
	background:url(resources/leftDisplayClass1.png);
}

#mainDisplayClass2 {
	background:url(resources/leftDisplayClass2.png);
}


#middleinfo {
	position:absolute;
	top:3px;
	/* left:40px; */
	left:0px;
	width:100%;
	height:90%;
	z-index:50;
	overflow:hidden;
}

#middlesuspectdata {
	position:absolute;
	width:120px;
	height:100%;
	font-size:18px;
	margin-top:35px;
	face:'Ó×Ô²';
	margin-left:110px;
	z-index:10;
}

#middlegriddata {
	position:absolute;
	width:120px;
	height:100%;
	font-size:18px;
	margin-top:35px;
	face:'Ó×Ô²';
	margin-left:110px;
	z-index:10;
}

#middletipsdata {
	position:absolute;
	width:570px;
	height:100%;
	font-size:18px;
	margin-top:35px;
	face:'Ó×Ô²';
	margin-left:110px;
	z-index:10;
	opacity:0.3;
	filter:alpha(opacity=30); 
}

#currentGrid {
	position:absolute;
	z-index:60;	
}


#select_criminal {
    float:left;
    padding-left:276px;
    width:24%;
    height:100%;
}

#select_input {
    float:left;
    margin-left:0px;
    width:80%;
    height:100%;
}

.showblock {
    display:block;
    width:60%;
    height:5px;
    margin:0 auto;
}

#select_button {
    font-family:WebSymbolsRegular;
    float:left;
    margin-left:0px;
    width:20%;
    height:100%;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#0078a5', StartColorStr='#00adee');
}

#userinfo {
	
    position:absolute;
    right:15px;
    top:0px;
    width:280px;
    height:100px;
    z-index:400;
    padding-top:3px; 
}

#chosensuspect {
	position:absolute;
    right:15px;
    top:-200px;
    width:280px;
    height:100px;
    z-index:400;
    padding-top:5px; 	
}

#userlarge {
    float:left;
    margin-left:10px;
    margin-top:20px;
    font-family:TerminalDosisLight,"ËÎÌå","ºÚÌå","Î¢ÈíÑÅºÚ";
    font-size:25px;
}

#usersmall {
    float:right;
    margin-right:10px;
    font-family:TerminalDosisLight,"ËÎÌå","ºÚÌå","Î¢ÈíÑÅºÚ";
    font-size:15px;
}


#backcolorskyblue {
	display:none;
	position:absolute; 
	width:100%; 
	height:40px;
	background:skyblue;
	z-index:0;
}

#backcoloryellow {
	display:none;
	position:absolute; 
	width:150px; 
	height:40px;
	background:yellow;
	z-index:0;
}

#dataBrowser {
	z-index:100;
}

#addrlist {
	z-index:100;
}

.rule_manage {
	display:block;
    width:90%;
    /* height:27px; */
    height:32px;
    font-family:"ºÚÌå","ËÎÌå","Î¢ÈíÑÅºÚ";
    padding-top:5px;
    top:0px;  
    margin:0px;
    overflow:hidden;
}

.rule_manage2 {
	display:block;
    width:90%;
    height:28px;
    font-family:"ºÚÌå","ËÎÌå","Î¢ÈíÑÅºÚ";
    padding-top:5px;
    border-left:5px solid #CCCCCC;
    top:0px;  
    overflow:hidden;
}

.wordlist {
	margin-left:70px;
	font-size:16px;
}



#box {
	position:relative;
	left:150px;
	top:50px;
	width:700px;
	height:300px;
}

#timearea {
	float:left;
	margin-left:20px;
	margin-top:20px;
	padding:0px;
	width:600px;
	height:30px;
}

#input1 {
	float:left;
	margin-left:40px;
	margin-right:30px;
	margin-top:0px;
	width:30%;
	height:100%;
}

#time {
	float:left;
	margin-top:0px;
	width:70px;
	height:100%;
}
	
	
	#word {
		float:left;
		margin-top:0px;
		width:50px;
		height:100%;
	}
	
	#input2 {
		float:left;
		margin-top:0px;
		width:30%;
		height:100%;
	}
	
	#searchkey {
		float:left;
		margin-left:20px;
		margin-top:20px;
		padding:0px;
		width:600px;
		height:30px;
	}
	
	#keyword {
		float:left;
		margin-top:0px;
		width:80px;
		height:100%;
	}
	
	#searchtext {
		float:left;
		margin-top:0px;
		margin-left:30px;
		width:70%;
		height:100%;
	}
	
	#circumstance {
		float:left;
		margin-left:20px;
		margin-top:20px;
		padding:0px;
		width:600px;
		height:30px;
	}
	
	#format {
		float:left;
		margin-top:0px;
		width:100px;
		height:100%;
	}
	
	#format1 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
	#format2 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
	#format3 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
	#disk {
		float:left;
		margin-left:20px;
		margin-top:20px;
		padding:0px;
		width:600px;
		height:30px;
	}
	
	#pos {
		float:left;
		margin-top:0px;
		width:100px;
		height:100%;
	}
	
	
	#pos1 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
		#pos2 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
		#pos3 {
		float:left;
		margin-top:0px;
		margin-left:8px;
		width:80px;
		height:100%;
	}
	
	#lastdiv {
		float:left;
		margin-left:160px;
		width:300px;
		height:30px;
	}
	
	#button1 {
		float:left;
		margin-left:20px;
		width:90px;
		height:30px;
		background:skyblue;
	}
	#button2 {
		float:left;
		margin-left:70px;
		width:90px;
		height:30px;
		background:skyblue;
	}
	
	#tmp {
		position:absolute;
		left:0px;
		top:100px;
		width:1380px;
		height:30px;
		border:2px solid black;
		z-index:1000;
	}
	
.redrowClass { 
	background-color:#FF6600; 
	background-image: none; 
}

.bluerowClass { 
	background-color:#0099CC; 
	background-image: none; 
}







#username {
	position:absolute;
	font-family:'TerminalDosisLight';
	font-size:35px;
	left:50px;
	top:15px;
}
   				
#logout {
	display:block;
	position:absolute;
	bottom:15px;
	left:20px;
	color:blue;
	font-family:'TerminalDosisLight';
	font-size:20px;
}
   				
#changeinfo {
	display:block;
	position:absolute;
	bottom:15px;
	right:120px;
	font-family:'TerminalDosisLight';
	font-size:20px;
}
   					
#passwordword {
	float:left;
	margin-top:10px;
}
   					
#passwordword2 {
	clear:both;
	float:left;
	width:200px;
	margin-top:10px;
}
   					
#passwordinput {
	float:left;
	margin-left:30px;
	margin-top:30px;
	width:300px;
	height:30px;
}

#passwordinput2 {
	float:left;
	margin-left:30px;
	margin-top:30px;
	width:300px;
	height:30px;
}

#suspectname {
	position:absolute;
	font-family:'TerminalDosisLight';
	font-size:30px;
	right:200px;
	top:35px;
}

#title {
	font-family:"TerminalDosisLight";
	margin-top:5px;
	margin-left:15px;
	font-size:35px;
	color:orange;
	
}

#wholearea {
	position:absolute;
	margin-left:0px;
	margin-top:30px;
	height:370px;
}

#repoLabel {
	position:relative;
	text-align:center;
	margin:0px auto;
	width:300px;
	height:50px;
	font-family:"youyuan";
	font-size:14px;
}

#repoLabel input {
	margin-right:20px;
	margin-top:5px;
}

#searchRepo {
	margin:0px;
	width:100%;
	height:70%;
	position:relative;
}

#searchtext {
	float:left;
	padding:0px;
	width:400px;
	height:40px;
	border:1px solid orange;
	font-size:25px;
	font-family:"Î¢ÈíÑÅºÚ";
}

#searchbutton {
	float:left;
	margin-left:0px;
	padding:0px;
	width:100px;
	height:43px;
	font-family:"TerminalDosisLight";
	border:1px solid orange;
}

.rightNoFound {
	background: #666666 url(resources/nothingFound.png) 50% 50% repeat; opacity: .30;filter:Alpha(Opacity=30);
}

#hideUploadText {
	float:right;
	margin-right:5px;
	margin-top:10px;
	width:150px;
	overflow:hidden;
	height:30px;
	padding:0px;
}

#uploadinput {
	position:absolute;
	margin:0px;
	width:150px;
	height:20px;
	font-size:12px;
}

#repoUploadDiv {
	position:relative;
	margin:0px;
	padding:0px;
	height:60px;
	width:100%;
}

#statusBlock {
	position:relative;
	margin:10px auto;
	padding:5px;
	width:80%;
	height:250px;
}

#uploadSuspSelDiv {
	position:relative;
	float:right;
	margin-top:25px;
	margin-right:5px;
	display:none;
	width:100%;
}

#repoUploadFormDiv {
	position:relative;
	float:right;
	margin-top:30px;
	margin-right:5px;
	display:none;
	width:100%;
}
#repoUploadForm {
	float:right;
}

#uploadButton {
	position:absolute;
	bottom:0px;
	left:0px;
	width:140px;
	height:42px;
}
#cancelButton {
	position:absolute;
	bottom:0px;
	right:0px;
	width:140px;
	height:42px;
}

.progress {
	position:relative;
	float:left;
	margin-left:13px;
	margin-top:30px;
	width:245px;
	height:20px;
	padding:0px;
}

.bar {
	position:absolute;
	margin:0px;
	padding:0px;
	width:0px;
	height:100%;
	left:0px;
	background:skyblue;
}

.percent {
	position:absolute;
	padding:0px;
	width:10px;
	height:100%;
	margin:2px auto;
}

#status {
	position:relative;
	float:right;
	margin-top:35px;
	margin-right:0px;
	height:220px;
	width:180px;
}

.statusInfo {
	position:relative;
	float:left;
	margin-top:18px;
	margin-left:2px;
	width:100%;
	height:auto;
	fontFamily:'Î¢ÈíÑÅºÚ','ËÎÌå';
	fontWeight:'light';
	letterSpacing:'3px';
}

#title {
	font-family:'TerminalDosisLight';
	margin-top:5px;
	margin-left:15px;
	font-size:35px;
	color:orange;
}

#wholearea {
	position:relative;
	margin:30px auto;
	height:380px;
	width:94%;
}

#searchTop {
	position:relative;
	width:100%;
	height:60px;
}

#searchTopMiddle {
	position:relative;
	width:520px;
	height:50px;
	margin:5px auto;
	padding:0px;
}

#searchtext {
	position:relative;
	padding:0px;
	margin:0px;
	width:400px;
	height:40px;
	border:1px solid orange;
	font-size:25px;
	font-family:"youyuan","Î¢ÈíÑÅºÚ";
}

#searchbutton {
	position:relative;
	padding:0px;
	margin:0px;
	width:100px;
	height:43px;
	font-family:"youyuan","Î¢ÈíÑÅºÚ";
	font-size:20px;
	border:1px solid orange;
	background:skyblue;
}

#wholearea fieldset, #wholearea fieldset legend {
	font-family:'youyuan','Î¢ÈíÑÅºÚ';
	font-size:20px;
}

#wholearea fieldset legend {
	margin-left:10px;
}

#wholearea fieldset div {
	width:80%;
	margin-top:28px;
	margin-left:20px;
}

#wholearea fieldset div label {
	font-family:'youyuan','Î¢ÈíÑÅºÚ';
	font-size:14px;
	margin-left:8px;
}

#wholearea fieldset {
	border:1px solid orange;
	padding:20px;
	height:80%;
}

#dateStart, #dateEnd {
	font-family:'youyuan','Î¢ÈíÑÅºÚ';
	font-size:15px;
	height:20px;
	width:100px;
	size:10;
	border:1px solid orange;
}

hr {
	float: none;  
	width: 100%;  
	height: 2px; 
	line-height: 2px; 
	font-size: 0; 
	margin-top:20px; 
	border: none 0;  
	background: #ddd; 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5, rgb(221,221,221)),color-stop(0.5, rgb(255,255,255)));
    background-image: -webkit-linear-gradient(center top,rgb(221,221,221) 50%,rgb(255,255,255) 50%); 
    background-image: -o-linear-gradient(center top,rgb(221,221,221) 50%,rgb(255,255,255) 50%); 
    background-image: -moz-linear-gradient(center top,rgb(221,221,221) 50%,rgb(255,255,255) 50%); 
}

#resetbutton {
	float:right;
	font-family:'youyuan','Î¢ÈíÑÅºÚ';
	font-size:20px;
	margin-right:50px;
	margin-top:30px;
}

#importTop {
	float:left;
	margin:0px;
	margin-top:30px;
	width:100%;
	height:40px;
}

#uploadinput {
	float:left;
	margin-left:30px;
	margin-top:10px;
	/*  display:none;*/
}

#uploadSuspName {
	position:absolute;
	top:40px;
	right:40px;
	display:none; 
}

#uploadinput-queue {
	position:relative;
	width:98%;
	height:350px;
	margin-top:50px;
	overflow:auto;
}

#bottomButtons {
	position:absolute;
	bottom:0px;
	width:272px;
	height:30px;
}

#uploadSubmit, #uploadReset, #uploadHide {
	float:left;
	margin:0px;
	width:87px;
	height:100%;
}